.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
.tmp/
.cache/
.env
.env.*
_config.admin.yml
_config.*.local.yml
admin/.dev.vars
admin/.wrangler/
*.swp
*~
.idea/
.vscode/
*.sublime-*
.DS_Store
